<% photos.each do |photo| %>
<%# <% 12.times do %>
  <div class="col-4 p-lg-3 p-md-2 p-1">
    <!-- <img src="https://source.unsplash.com/random/400x400"> -->
    <img src="<%= photo %>" class="w-100">
  </div>
<% end %>
