<div class="js-photos-next-page mb-5">
  <% if next_max_id.present? %>
    <div class="d-block text-center">
    <%= link_to 'Load more...', home_show_url(max_id: next_max_id), remote: true, class: 'photos-next-page p-2 rounded' %>
    </div>
  <% end %>
</div>
