<div class="row photos m-auto pt-lg-5 pt-md-4 pt-sm-4 pt-3">
  <%# <% @photos.each do |photo| %>
  <% 12.times do %>
    <div class="col-4 p-lg-3 p-md-2 p-1">
      <img src="https://source.unsplash.com/random/400x400">
    </div>
  <% end %>
</div>
