---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=7765051998.e73a25a.8a4fc7e06a864707bc508b45a302d34d&count=12&max_id=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="7765051998.e73a25a.8a4fc7e06a864707bc508b45a302d34d"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '483'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"next_max_id": "1781489093092774369_7765051998", "next_url":
        "https://api.instagram.com/v1/users/7765051998/media/recent?access_token=7765051998.e73a25a.8a4fc7e06a864707bc508b45a302d34d\u0026count=12\u0026max_id=1781489093092774369_7765051998"},
        "data": [{"id": "1781491698913136537_7765051998", "user": {"id": "7765051998",
        "full_name": "Instagem", "profile_picture": "https://scontent.cdninstagram.com/vp/856b9478629f7c2f4ae549c4c8cc5dd7/5B94597A/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "username": "instagem_test"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/vp/2834ede505d23233e8af22c287e5f2a4/5B88B3E8/t51.2885-15/s150x150/e35/32203344_444728495978476_4883571565821689856_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/vp/f615a21e652f19c58e21e07d5ef67c60/5B7B6DAF/t51.2885-15/s320x320/e35/32203344_444728495978476_4883571565821689856_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/vp/082f290fe349f4189652310d27578e9f/5B8DCB8D/t51.2885-15/e35/32203344_444728495978476_4883571565821689856_n.jpg"}},
        "created_time": "1526590381", "caption": null, "user_has_liked": false, "likes":
        {"count": 0}, "tags": [], "filter": "Normal", "comments": {"count": 0}, "type":
        "image", "link": "https://www.instagram.com/p/Bi5IULsBk-Z/", "location": null,
        "attribution": null, "users_in_photo": []}, {"id": "1781491391839648145_7765051998",
        "user": {"id": "7765051998", "full_name": "Instagem", "profile_picture": "https://scontent.cdninstagram.com/vp/856b9478629f7c2f4ae549c4c8cc5dd7/5B94597A/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "username": "instagem_test"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/vp/1af2a3f3449f3adb0ce576c3ecd4d412/5B9788C4/t51.2885-15/s150x150/e35/31991234_214111802701133[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=7765051998.e73a25a.8a4fc7e06a864707bc508b45a302d34d&count=12&max_id=1781489093092774369_7765051998
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="7765051998.e73a25a.8a4fc7e06a864707bc508b45a302d34d"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
   [...]
