#photos-pagination-wrapper .btn:focus {
  box-shadow: none;
}

@media only screen and (min-device-width: 320px) {
    #photos-wrapper {
      max-width: 100%;
    }
}

@media only screen and (min-width: 1224px) {
    #photos-wrapper {
      max-width: 70%;
    }
}
