.session-wrapper {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  height: 100%;
  position: absolute;
  width: 100%;

  .session-content {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 30%;

    h1 {
      color: #e6e6e6;
    }
  }

  a, a.disabled {
    background-color: #ab4bdc;

    &:hover {
      background-color: #871bab;
    }

    &:focus {
      box-shadow: none;
    }
  }

  a, a:hover {
    color: #e6e6e6;
  }
}

@media only screen and (min-device-width: 320px) {
  .session-wrapper {
    .session-content h1 {
      font-size: 18vw;
      padding-bottom: 90px;
    }

    a {
      font-size: 5vw;
      padding: 35px;
      border-radius: 15px;
    }
  }
}

@media only screen and (min-device-width: 768px) {
  .session-wrapper {
    .session-content h1 {
      font-size: 8vw;
      padding-bottom: 30px;
    }

    a {
      font-size: 2vw;
      padding: 15px;
      border-radius: 7px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .session-wrapper {
    .session-content h1 {
      font-size: 5vw;
      padding-bottom: 20px;
    }

    a {
      font-size: 1.3vw;
      padding: 10px;
      border-radius: 5px;
    }
  }
}
