.main {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  height: 100%;
  position: absolute;
  width: 100%;

  a {
    padding: 10px;
    border-radius: 5px;
    background: #ab4bdc;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
  }
}
